# Ignore arquivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Ignore arquivos de configuração e dados temporários do Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Ignore arquivos e diretórios do Poetry
.poetry/
.poetry.lock

# Ignore diretórios do ambiente virtual (se houver)
.env/
.venv/
venv/

# Ignore arquivos temporários de execução
*.log
*.tmp

# Ignore bases de dados e arquivos grandes de cache temporário


# Ignore configurações de editor específicas
.vscode/
.idea/

# Ignore saídas de gráficos e imagens, caso estejam temporários
*.png
*.svg
*.jpg
*.jpeg

# Ignore metadados de sistema
.DS_Store
Thumbs.db

# shapefile
# *.cpg
# *.dbf
# *.prj
# *.shx
# *.shp
# *.sbn
# *.sbx

# geojson files grandes
#.geojson

# comprimidos
*.zip